@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    margin: 0rem 10%;
    background: #f1f1f1;
    --primary: #2d2d2d;
    --secondary: #535353;
    --primary-font: 'Archivo Black', sans-serif;
    --secondary-font: 'Archivo', sans-serif;
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 200s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
    --base-color: #f1f1f1;
    font-family: var(--secondary-font);
}

h2 {
    font-size: 1.2rem;
    color: var(--primary);
}

h3 {
    font-size: 1rem;
    color: var(--secondary);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    line-height: 150%;
}
